{% extends "base.html.twig" %}


{% block title %} A propos {% endblock %}

{% block body %}

<h1>A propos</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor beatae itaque tempora saepe error dolorum veritatis, doloribus tempore ratione! Adipisci quia voluptatem odio, ipsa tenetur praesentium unde incidunt consequatur expedita.
Possimus iste odio ab cum quisquam, officia est impedit quasi voluptates vero laudantium mollitia dicta atque autem amet ipsa quam! Eveniet ducimus praesentium deleniti ratione iusto? Ad, hic! Labore, ad!
Mollitia, inventore. Consectetur dolor cumque praesentium quidem velit sequi consequuntur voluptate quibusdam nemo nesciunt dolore ea reprehenderit aut voluptatem, eos harum voluptatibus? Eaque sapiente ex facere aliquid non molestiae accusamus.
Nihil eos quis in deserunt molestias dignissimos vitae sint recusandae asperiores iure, expedita, harum ducimus ipsam accusamus necessitatibus quisquam aut ea ab. Eaque similique facilis ab ducimus assumenda fugiat odio!
Harum id aut repudiandae quia asperiores rem corporis tempora, commodi expedita tempore sed aliquid deleniti nostrum necessitatibus totam laudantium molestiae explicabo suscipit magnam. Dolorem accusantium ullam laudantium nulla, hic repellendus.</p>
{% endblock %}