{% extends "base.html.twig" %}


{% block title %} Détail Défi{% endblock %}

{% block body %}
<div class="row text-center mt-5">
    <h1>Détail {{ challenge.nom }}</h1>
</div>
<div class="row mt-5">
    <p><b>Description: </b>{{challenge.description}}</p>
    <p><b>Créateur</b>{{challenge.createur}}</p>
    <p><b>Date & Heure de défi:</b> {{challenge.dateHeure|date("d/m/Y H:i")}}</p>
</div>

{% endblock %}